<!--Main app view-->

<div id="main-container">

  <!--Top navigation (login, editor tools etc.)-->
  <div id="header">
    <div id="logo-wrapper"><a class="no-hover" routerLink="/" (click) ="changeGlobals()"><img id="logo" src="../assets/images/logo.png"></a></div>
    <div id="top-menu">
      <app-taskbar></app-taskbar>
    </div>  
  </div>

  <mat-divider></mat-divider>

  <!--Sidebar navigation-->
  <div class="flex-container">
    <div id="navigator-wrapper">
      <mat-card id="navigator-card">
        <app-navigator></app-navigator>
      </mat-card>
    </div>
    
    <!--Main content-->
    <div id="main-content-wrapper">
      <mat-card>
        <!--Title will be displayed only if title for the route provided in Rooting Module-->
        <div *ngIf="cardTitle !== null">
          <mat-card-title>{{cardTitle}}</mat-card-title>
        </div>
        <!--All routed content goes here-->
        <router-outlet></router-outlet>
      </mat-card>
    </div>
  </div>

</div>
