@import '../styles'

#main-container
    @extend .standard-padding

#navigator-wrapper
    @extend .standard-padding
    width: 400px

#navigator-card
    background-color: $accent

#main-content-wrapper
    @extend .standard-padding
    width: 100%

#header
    @extend .flex-container
    justify-content: space-between
    width: 100%

//#top-menu
//    width: 200px


#logo-wrapper
    @extend .standard-padding

#logo
    width: 200px
