
<div>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="center-form">
            <mat-form-field class="full-width-input">
                    <input matInput placeholder="Login" formControlName="username">
                    </mat-form-field>
        </div>  
        <div class="center-form">    
                    <mat-form-field type="password" class="full-width-input">
                    <input matInput placeholder="Hasło" type="password" formControlName="password">
            </mat-form-field>
        </div>  
        <div class="center-form"> 
            <button mat-button class="form-button" [disabled]="loading">Zaloguj</button>
        </div>
    </form>
</div>