/* You can add global styles to this file, and also import other style files */

@import './app/styles/colors'
@import './app/styles/form'

.test
    padding-left: 0px
    color: green

.flex-container
    display: flex

.standard-padding
    padding-left: 10px
    padding-right: 10px
    padding-top: 10px
    padding-bottom: 10px

.no-hover
    background-color: transparent


::ng-deep .mat-card-title
    background-color: $accent !important
    border-radius: 10px
    padding-left: 10px
    padding-right: 10px

::ng-deep .mat-tree
    background-color: transparent !important


::ng-deep .mat-form-field
     width: 95% !important
