// Universal form-related styles
    
.center-form
    @extend .flex-container
    align-items: center
    justify-content: center
    
.full-width-input
    width: 300px

.form-button
    background-color: $accent !important