@import '../../../styles'

$lecture-color:     #50c050
$blackboard-color:  #50c0f0
$lab-color:         #0090f0
$proj-color:        #f070a0
$other-color:       #f0f000

$border-primary:    #aaaaaa
$border-secondary:    #cccccc

$seventh-pcent: 14.2857%
$top-row-height: 30px
$hours-column-width: 70px

.grid-cell
    position: absolute
    border: 1px solid  $border-primary
    box-sizing: border-box
    min-width: $seventh-pcent

.hour-grid-container
    position: relative
    height: 100%

.hour-grid-cell
    @extend .flex-container
    position: absolute
    border: 1px solid  $border-primary
    box-sizing: border-box
    width: $hours-column-width
    align-items: center
    justify-content: center

.top-grid-cell
    @extend .flex-container
    border: 1px solid  $border-primary
    box-sizing: border-box
    width: $seventh-pcent
    height: $top-row-height
    overflow: hidden
    align-items: center
    justify-content: center
    flex-direction: column

.top-grid-hour-cell
    @extend .flex-container
    border: 1px solid  $border-primary
    box-sizing: border-box
    min-height: $top-row-height
    width: hours-column-width

.small-grid-cell
    border-top: 1px solid $border-secondary
    border-bottom: 1px solid $border-secondary
    box-sizing: border-box
    width: 100%
    height: 25%
    z-index: -1

.drawing-plane
    position: relative

.days-row
    @extend .flex-container
    flex-direction: row

.drawing-column
    position: relative

.class-box
    @extend .flex-container
    position: absolute
    width: $seventh-pcent
    white-space: normal
    overflow: hidden
    align-items: center
    justify-content: center
    flex-direction: column
    z-index: 1
    border: 1px solid  #000000
    box-sizing: border-box

.lecture-box
    @extend .class-box
    background-color: $lecture-color

.laboratory-box
    @extend .class-box
    background-color: $lab-color

.blackboard-class-box
    @extend .class-box
    background-color: $blackboard-color

.project-box
    @extend .class-box
    background-color: $proj-color

.other-box
    @extend .class-box
    background-color: $other-color

.class-text-row
    @extend .flex-container
    flex-wrap: wrap
    justify-content: center

.drawing-plane-container
    @extend .flex-container
    position: relative
    height: 100%
    min-width: 750px
    width: 100%
    border-style: solid
    padding-top: 1px
    padding-bottom: 1px
    padding-left: 1px
    padding-right: 1px

.left-column
    @extend .flex-container
    flex-flow: column
    width: $hours-column-width
    min-height: 100%

.right-column
    flex: 1
    min-height: 100%

.legend
    display: inline-block
    min-width: 400px
    margin-top: 30px
