<h3>{{title}}</h3>
<div class="drawing-plane-container">


    <!--Column with hours-->
    <div class="left-column">
        <div class="top-grid-hour-cell"></div>
        <div class="hour-grid-container">
            <div *ngFor="let hc of hourCells" class="hour-grid-cell" [style.left]="hc.xPos" [style.top]="hc.yPos"
                [style.height]="hc.height">
                <div class="class-text-row">{{hc.text}}</div>
            </div>
        </div>
    </div>



    <!--Column with days and the grid + class blocks-->
    <div class="right-column">
        <div class="drawing-column">

            <!--Top row - days of the week-->
            <div class="days-row">
                <div class="top-grid-cell">Poniedziałek</div>
                <div class="top-grid-cell">Wtorek</div>
                <div class="top-grid-cell">Środa</div>
                <div class="top-grid-cell">Czwartek</div>
                <div class="top-grid-cell">Piątek</div>
                <div class="top-grid-cell">Sobota</div>
                <div class="top-grid-cell">Niedziela</div>
            </div>

            <!--Main canvas - the grid + class blocks-->
            <div class="drawing-plane" [style.height]="scheduleHeight">

                <!--The grid-->
                <div *ngFor="let gc of gridCells" class="grid-cell" [style.left]="gc.xPos" [style.top]="gc.yPos"
                    [style.height]="gc.height">
                    <div class="small-grid-cell"></div>
                    <div class="small-grid-cell"></div>
                    <div class="small-grid-cell"></div>
                    <div class="small-grid-cell"></div>
                </div>

                <!--Class blocks-->
                <div *ngFor="let c of classesExtended" [class.lecture-box]="c.classtype === 'wyk.'"
                    [class.laboratory-box]="c.classtype === 'lab.'"
                    [class.blackboard-class-box]="c.classtype === 'ćw.'"
                    [class.project-box]="c.classtype === 'proj.'"
                    [class.other-box]="c.classtype === 'inne'"
                    [style.left]="c.xPos" [style.top]="c.yPos" [style.height]="c.height" (click)="onClassClick(c)">
                    <!--Class name (abbreviated)-->
                    <div><b>{{c.abbreviation}}</b>, {{c.classtype}}</div>
                    <!--For the next 2 parent divs:-->
                    <!--"let isLast=last" is used to put the separator between the elements except for the last element-->

                    <!--Teachers row-->
                    <div class="class-text-row">
                        <div *ngFor="let t of c.teachers; let isLast=last">
                            {{t}}{{isLast ? '' : ',&nbsp;'}}
                        </div>
                    </div>
                    <!--Rooms row-->
                    <div class="class-text-row">
                        <div *ngFor="let cRoom of c.classrooms; let isLast=last">
                            {{cRoom}}{{isLast ? '' : ',&nbsp;'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--The legend card-->
<mat-card class="legend">
    <mat-card-title>Legenda</mat-card-title>
    <div *ngFor="let l of legend">
        <b>{{l.name}}</b> ({{l.time}}) - {{l.fullName}}
    </div>
</mat-card>