<!--Tree goes here-->
<h2> Plany zajęć </h2>
<div *ngIf="test">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding id="0">
      <button mat-icon-button disabled class="button"></button>
      <button mat-button routerLink="view/{{node.id}}">
        {{node.item}}
      </button>
    </mat-tree-node>
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding id="1">
      <button mat-icon-button
              [attr.aria-label]="'toggle ' + node.filename" matTreeNodeToggle>
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
        {{node.item}}
    </mat-tree-node>
  </mat-tree>
</div>

