<h1>Witaj na planie!</h1>
<p>
    Użyj menu po lewej, aby wybrać plan zajęć.
</p>
<p>
    Zaloguj się za pomocą przycisku w prawym górnym rogu, aby uzyskać dostęp do edycji planu.
</p>
<p>
    Jeśli potrzebujesz konta, a jeszcze go nie posiadasz, skontaktuj się z administratorem systemu.
</p>