<!--Top task bar. Loging and editor's tools will go here-->
<span *ngIf="loggedIn != undefined; else elseBlock">
    <a mat-button (click) ="openDialog()">Dodaj zajęcia</a>
    <a mat-button (click) ="logOut()">Wyloguj</a>
</span>
<ng-template #elseBlock>
    <a mat-button routerLink="/login">Zaloguj</a>
</ng-template>
