.mat-dialog-content
     width: 500px
     height: 3000px
     font-size: 18px

.mat-dialog-title
    font-size: 24px

.lack
    width: 300px
    height: 150px
    text-align: center

.actions
    font-size: 20px
    text-align: center
    display: block
    margin: auto
