<mat-dialog-content *ngIf="workNodeId == null" class="lack">

  <h2>Niezdefiniowany plan</h2>

  <button mat-button (click)="close()">Close</button>

</mat-dialog-content>

<mat-dialog-content *ngIf="workNodeId != null">


  <h1 mat-dialog-title *ngIf="typeOfBox==0"> Dodaj nowe zajęcia </h1>
  <h1 mat-dialog-title *ngIf="typeOfBox==1"> Edytuj zajęcia </h1>

  <mat-dialog-actions *ngIf="typeOfBox==1">
    <br />
    <button mat-button (click)="delete()">Usuń zajęcia</button>
  </mat-dialog-actions>

  <br />
  <p>
    <mat-label>Nazwa przedmiotu <br></mat-label>
    <mat-form-field appearance="legacy">
      <input matInput [(ngModel)]="classesName" required>
      <mat-hint>Nazwa przedmiotu</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-label>Skrót przedmiotu <br></mat-label>
    <mat-form-field appearance="legacy">
      <input matInput [(ngModel)]="abbreviation" required>
      <mat-hint>Skrót przedmiotu</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-label>Typ zajęć<br></mat-label>
    <mat-form-field>
      <mat-label>Typy</mat-label>
      <mat-select [(ngModel)]="typeOfClasses" required>
        <mat-option *ngFor="let class of classDisplay | keyvalue" [value]="class.value">
          {{class.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <mat-label>Nazwa budynku<br></mat-label>
    <mat-form-field appearance="legacy">
      <mat-label>Budynki</mat-label>
      <mat-select [(ngModel)]="buildingNameM" required>
        <mat-option *ngFor="let building of buildings | keyvalue" [value]="building.value">
          {{building.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <mat-label>Numery/nazwy sal<br></mat-label>
    <mat-form-field appearance="legacy">
      <input matInput [(ngModel)]="className" required>
      <mat-hint>Nazwy sal proszę oddzielić przecinkami </mat-hint>
    </mat-form-field>
  </p>


  <p>
    <mat-label>Dzień tygodnia <br></mat-label>
    <mat-form-field>
      <mat-label>Dzień tygodnia</mat-label>
      <select matNativeControl [(ngModel)]="day" required>
        <option value=1>Poniedziałek</option>
        <option value=2>Wtorek</option>
        <option value=3>Środa</option>
        <option value=4>Czwartek</option>
        <option value=5>Piątek</option>
        <option value=6>Sobota</option>
        <option value=7>Niedziela</option>
      </select>
    </mat-form-field>
  </p>
  <p>
    <mat-label>Czas rozpoczęcia zajęć <br></mat-label>
    <mat-form-field appearance="legacy">
      <input matInput type="time" step="900" [(ngModel)]="beginTime" required>
    </mat-form-field>
  </p>
  <p>
    <mat-label>Czas trwania zajęć<br></mat-label>
    <mat-form-field appearance="legacy">
      <input matInput type="time" step="900" [(ngModel)]="durationM" required>
    </mat-form-field>
  </p>

  <p>
    <mat-label>Prowadzący zajęcia<br></mat-label>
    <mat-form-field appearance="legacy">
      <input matInput [(ngModel)]="teachersM" required>
      <mat-hint>Prowadzacych proszę oddzielić przecinkami</mat-hint>
    </mat-form-field>
  </p>

  <mat-dialog-actions class="actions">
    <button mat-button *ngIf="workNodeId!=null" (click)="save()">Zapisz</button>
    <button mat-button (click)="close()">Anuluj</button>
  </mat-dialog-actions>


</mat-dialog-content>
