<mat-dialog-content class="main">

  <h2 class="h1"> Informacja</h2>
  <p *ngFor="let str of data.msg">
    {{str}}
  </p>
  <p align="center">
    <button mat-button (click)="close()" *ngIf="data.conf != 0">Ok</button>
    <button mat-button (click)="confirmed()" *ngIf="data.conf == 0">Tak</button>
    <button mat-button (click)="close()" *ngIf="data.conf == 0">Nie</button>

  </p>

</mat-dialog-content>
